
/* RESET SHEET*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  
html {
    height: 100vh;
    width: 100vw;
}

body {
  display: grid;
  grid-template-rows: 0.2fr 5fr;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #A7C7E7, #174062), url('./images/splash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    transition: background-color 1s ease;
  }

#bannerContainer {
  justify-self: center;
  white-space: pre;
  margin-bottom: 40px;
  height: 140px;
  font-size: 8px;
  
}

main {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    justify-items: center;
    justify-self: center;
    border-radius: 100px;
    min-width: 1100px;
    max-width: 1100px;
    height: 90%;
    background-color: rgb(33, 32, 32, 0.89);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);

  }
    
    .ownFleet, .enemyFleet {
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      color: rgb(231, 229, 229);
      font-family: monospace;
    }
.bothFields {

  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-row: 2/3;
  column-gap: 50px;
  row-gap: 10px;

}
.fieldArea {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;;
    height: 450px;
    width: 450px;
    padding: 20px;
    border: 10px solid rgb(177, 175, 175);
    border-radius: 40px;
    align-content: center;
    justify-content: center;
}

.fireArea {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;;
    height: 450px;
    width: 450px;
    padding: 20px;
  justify-content: center;
  align-content: center;
    border: 10px solid rgb(177, 175, 175);
    border-radius: 40px;
}

.fieldBlock {
    
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    border: 3px solid black;
    background-color: rgb(40, 93, 172);
    cursor: crosshair;
}

.hitEmoji {
  font-size: 26px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-shadow:
  -1px -1px 0 white,
   1px -1px 0 white,
  -1px  1px 0 white,
   1px  1px 0 white,
   0    0   5px white;
}

.waterEmoji {
  font-size: 32px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  background-color: rgb(40, 93, 172);
}

.no-clicks {
  pointer-events: none;
}


dialog {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 650px;
  height: 470px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: none;
  font-family: monospace;
  transition: opacity 0.7s ease;
}

form {
  height: 100%;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

#twoPlayerIcon {
  cursor: pointer;
  padding: 30px;
  
}

#playerModeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  height: 100%;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 65px;
}

#TwoPlayerMode {
  grid-column: 1/2;
  grid-template-rows: 1fr 6fr;
  display: grid;
  height: 100%;
  width: 100%;
  place-content: center;

}

#TwoPlayerMode:hover {
  background-color: rgb(63, 132, 196);
border-radius: 30px;
cursor: pointer;
}

#OnePlayerMode {
  grid-column: 2/3;
  grid-template-rows: 1fr 6fr;
  display: grid;
  height: 100%;
  width: 100%;
  place-content: center;
}
#OnePlayerMode:hover {
  background-color: rgb(63, 132, 196);
  border-radius: 30px;
  cursor: pointer;
  }
#playerMode {
  color: rgb(240, 237, 237);
  grid-column: 1/3;
text-align: center;
margin-top: 20px;
font-size: 24px;
border-bottom: 2px solid silver;
}
#headerPlayerMode {
  display: grid;
  color: rgb(240, 237, 237);
  place-items: center;
  font-size: 16px;
  margin-top: 20px;
}