/* RESET SHEET*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  grid-template-rows: 0.2fr 5fr;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(135deg, #a7c7e7, #174062), url("./images/splash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  transition: background-color 1s ease;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#bannerContainer {
  justify-self: center;
  white-space: pre;
  margin-bottom: 70px;
  margin-left: 10px;
  height: 140px;
  font-size: 8px;
}

main {
  position: relative;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  justify-items: center;
  justify-self: center;
  border-radius: 100px;
  min-width: 1100px;
  max-width: 1100px;
  max-height: 625px;
  min-height: 625px;
  height: 90%;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease; /* Übergangsdauer 0.5s */
}

.ownFleet,
.enemyFleet {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: rgb(231, 229, 229);
  font-family: monospace;
}

.bothFields {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-row: 2/3;
  column-gap: 50px;
  row-gap: 10px;
}

.bothFields.opacity {
  animation: fadeOut 0.6s ease forwards;
}
.bothFields.opacityOn {
  animation: fadeIn 0.6s ease forwards;
}

.fieldArea {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  width: 450px;
  padding: 20px;
  border: 10px solid rgb(177, 175, 175);
  border-radius: 40px;
  align-content: center;
  justify-content: center;
}

.fireArea {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  width: 450px;
  padding: 20px;
  justify-content: center;
  align-content: center;
  border: 10px solid rgb(177, 175, 175);
  border-radius: 40px;
}

.fieldBlock {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border: 3px solid black;
  background-color: rgb(40, 93, 172);
  cursor: crosshair;
}

.fieldBlock:hover {
  background-color: rgb(94, 141, 212);
}

.hitEmoji {
  font-size: 26px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    0 0 5px white;
}

.waterEmoji {
  font-size: 32px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  background-color: rgb(40, 93, 172);
}

.no-clicks {
  pointer-events: none;
}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0); /* neutralisiert alte transform-Reste */
    opacity: 1;
  }
  to {
    transform: translateX(0); /* neutralisiert alte transform-Reste */
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(0); /* neutralisiert alte transform-Reste */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* neutralisiert alte transform-Reste */
    opacity: 1;
  }
}

@keyframes scaleBig {
  from {
    transform: translateX(0);
    opacity: 0;
    scale: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
}

@keyframes scaleSmall {
  from {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
    scale: 0.5;
  }
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Choose Gamemode Dialog*/

dialog.closing {
  animation: slideDown 0.6s ease forwards;
}

dialog.getBig {
  animation: scaleBig 0.3s ease forwards;
}

dialog.getSmall {
  animation: scaleSmall 0.5s ease forwards;
}

dialog {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 620px;
  height: 430px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  border-bottom: 3px solid white;
  font-family: monospace;
  margin-top: 50px;
  transform: translateX(-50%);
  animation: slideUp 0.6s ease forwards;
  outline: none;
}

form {
  height: 100%;
}

#playerModeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  height: 100%;
  justify-items: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 65px;
}

#playerModeHeader {
  color: rgb(240, 237, 237);
  grid-column: 1/3;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  border-bottom: 2px solid silver;
}

#TwoPlayerMode {
  grid-column: 1/2;
  display: grid;
  height: 230px;
  width: 230px;
  place-content: center;
  position: relative;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#TwoPlayerMode:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

#OnePlayerMode {
  grid-column: 2/3;
  display: grid;
  height: 230px;
  width: 230px;
  position: relative;
  place-content: center;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#OnePlayerMode:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

#twoPlayerIcon,
#KiIcon {
  cursor: pointer;
  padding: 45px;
  background-color: rgba(89, 174, 253, 0.55);
  border-radius: 50px;
  border: 1px solid rgb(24, 24, 24);
  height: 170px;
  width: auto;
}

.headerGameModes {
  position: absolute;
  display: grid;
  color: rgb(240, 237, 237);
  justify-items: center;
  font-size: 16px;
}
#headerPlayerModesOne {
  left: 59px;
  top: 4px;
}
#headerPlayerModesTwo {
  left: 51px;
  top: 4px;
}

/* PlayerName Dialog*/

#givePlayerName {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 360px;
  height: 350px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  margin-top: 50px;
  transform: translateX(-50%);
  animation: slideUp 0.6s ease forwards;
  color: rgb(240, 237, 237);
}

#formPlayerName {
  display: grid;
  row-gap: 24px;
  grid-template-rows: 1fr 5fr 2fr;
  grid-template-columns: 1fr 1fr;
}

#givePlayerName.closing {
  animation: slideDown 0.6s ease forwards;
}
#insertPNames {
  text-align: center;
  grid-column: 1/3;
}
#playerNameFieldset {
  display: grid;
  justify-self: center;
  justify-content: center;
  height: 170px;
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  grid-column: 1/3;
}

#labelPlayer,
#labelPlayerTwo {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

#playerOneName,
#playerTwoName {
  text-align: center;
  width: 200px;
  height: 35px;
}

#confirmBtn {
  grid-row: 3/4;
  grid-column: 2/3;
}
#cancelBtn {
  grid-row: 3/4;
  grid-column: 1/2;
}
#confirmBtn,
#cancelBtn {
  width: 100px;
  height: 45px;
  justify-self: center;
  border-radius: 10px;
  border: 2px solid white;
}

#confirmBtn:hover,
#cancelBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Dialog Place Ships */

#chosePlaceMode.closing {
  animation: slideDown 0.6s ease forwards;
}

#chosePlaceMode {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 640px;
  height: 460px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  font-family: monospace;
  margin-top: 50px;
  transform: translateX(-50%);
  animation: slideUp 0.6s ease forwards;
}

form {
  height: 100%;
}

#choseModeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  height: 100%;
  justify-items: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 30px;
}

#choseModeHeader {
  color: rgb(240, 237, 237);
  grid-column: 1/3;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  border-bottom: 2px solid silver;
}

#choseOwnPlacement {
  grid-column: 1/2;
  display: grid;
  height: 230px;
  width: 230px;
  place-content: center;
  position: relative;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#choseTwoPlayerIcon {
  cursor: pointer;
  padding: 45px;
  background-color: rgba(89, 174, 253, 0.55);
  border-radius: 50px;
  border: 1px solid rgb(24, 24, 24);
  height: 170px;
  width: auto;
}

#choseOwnPlacement:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

#choseRandomPlacement {
  grid-column: 2/3;
  display: grid;
  height: 230px;
  width: 230px;
  position: relative;
  place-content: center;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#choseRandomPlacement:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

.choseHeaderGameModes {
  position: absolute;
  display: grid;
  color: rgb(240, 237, 237);
  justify-items: center;
  font-size: 16px;
}

#choseHeaderPlayerModesOne {
  left: 59px;
  top: 4px;
}
#choseHeaderPlayerModesTwo {
  left: 51px;
  top: 4px;
}

/* CHose Bot Difficulty */

.swiper {
  width: 330px;
  height: 330px;
  border-radius: 12px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swiperArrows {
  color: rgb(255, 255, 255);
}

#swiperArrows .swiper-pagination-bullet {
  background: white;
}

#swiperArrows .swiper-pagination-bullet-active {
  background: white;
}

#swiper {
  border: 10px solid silver;
}
#choseBotDifficulty.closing {
  animation: slideDown 0.6s ease forwards;
}

#choseBotDifficulty {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 820px;
  height: 580px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid white;
  font-family: monospace;
  margin-top: 50px;
  transform: translateX(-50%);
  animation: slideUp 0.6s ease forwards;
}


form {
  height: 100%;
}

#choseEnemy {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 1fr;
  height: 88%;
  align-items: center;
}

#choseModeHeader {
  color: rgb(240, 237, 237);
  grid-column: 1/3;
  text-align: center;
  margin: 10px 37px 5px 37px;
  padding-bottom: 7px;
  font-size: 29px;
  border-bottom: 5px solid silver;
}

#descriptionForBot {
  display: grid;
  grid-template-rows: 35px 180px 50px;
  justify-items: center;
  justify-self: center;
grid-column: 2/3;
color: white;
row-gap: 20px;
background-color: black;
border-radius: 12px;
padding: 20px;
 text-align: center;
 height: 330px;
 width: 330px;
}

#botDifficulty {
  font-weight: 700;
  font-size: 1.4rem;
}

#difficultyScale {
  color: green;
}

#descriptionForBot h3 {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  margin: 0px 20px 0px 20px;
  line-height: normal;
}

#botTextField {
  font-size: 1.1rem;
}

#choseOwnPlacement {
  grid-column: 1/2;
  display: grid;
  height: 230px;
  width: 230px;
  place-content: center;
  position: relative;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#choseTwoPlayerIcon {
  cursor: pointer;
  padding: 45px;
  background-color: rgba(89, 174, 253, 0.55);
  border-radius: 50px;
  border: 1px solid rgb(24, 24, 24);
  height: 170px;
  width: auto;
}

#choseOwnPlacement:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

#choseRandomPlacement {
  grid-column: 2/3;
  display: grid;
  height: 230px;
  width: 230px;
  position: relative;
  place-content: center;
  background-color: rgba(37, 70, 102, 0.35);
  border-radius: 50px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#choseRandomPlacement:hover {
  background-color: rgb(63, 132, 196, 0.89);
  cursor: pointer;
}

.choseHeaderGameModes {
  position: absolute;
  display: grid;
  color: rgb(240, 237, 237);
  justify-items: center;
  font-size: 16px;
}

#choseHeaderPlayerModesOne {
  left: 59px;
  top: 4px;
}
#choseHeaderPlayerModesTwo {
  left: 51px;
  top: 4px;
}

#botDiffBtns {
  display: grid;
}
.confirmBotDifficulty {
  
}

.returnBotDifficulty {

}
/* Place Ships Area */

.fireAreaHangar {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-rows: 1fr 8fr;
  gap: 20px;
  height: 450px;
  width: 450px;
  padding: 19px;
  justify-content: center;
  align-content: center;
  border: 10px solid rgb(177, 175, 175);
  border-radius: 40px;
  color: rgb(177, 175, 175);
}

#rotateHangar {
  grid-row: 1/2;
  width: 55px;
  height: 55px;
  justify-self: center;
  align-self: center;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 50px;
  background-color: rgb(40, 93, 172);
  cursor: pointer;
}

#rotateHangar:hover {
  background-color: rgb(87, 137, 212);
}

#shipHangar {
  display: grid;
  grid-row: 2/3;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.65rem;
  font-family: monospace;
}

#shipHangarRotated {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.65rem;
  gap: 11px;
  font-family: monospace;
}

.shipInHangarContainer {
  display: flex;
}

.shipInHangarContainer .fieldBlock {
  cursor: grab;
}

.shipInHangarContainer .fieldBlock:active {
  cursor: grabbing;
}

.shipInHangarContainerRotated .fieldBlock {
  cursor: grab;
}

.shipInHangarContainerRotated .fieldBlock:active {
  cursor: grabbing;
}

.shipInHangarContainerRotated {
  display: flex;
  flex-direction: column;
}

.fieldBlockHeader {
  display: flex;
  justify-content: center;
}

#confirmPlacementBtn {
  position: absolute;
  top: 562px;
  right: 240px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 0.93rem;
  font-family: monospace;
}

#confirmPlacementBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#resetPlacementBtn {
  position: absolute;
  top: 562px;
  left: 253px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 0.93rem;
  font-family: monospace;
}

#resetPlacementBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Dialog Switch Turns */

#playerTurns {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 330px;
  height: 165px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  font-family: monospace;
  margin-top: 50px;
  color: rgb(240, 237, 237);
  transition: opacity 0.3s ease; /* Übergangsdauer 0.5s */
}

#formPlayerSwitch {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}

#changePlayers {
  justify-self: center;
  font-size: 20px;
  align-self: center;
}
#confirmPlayerSwitch {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100px;
  height: 45px;
  justify-self: center;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 15px;
}

#confirmPlayerSwitch:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#playerTurns.opacity {
  animation: scaleBig 0.6s ease forwards;
}

.flipped {
  display: flex;
  flex-direction: column;
}

/* Dialog ShipSinking */

#ShipSunkDialog {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 330px;
  height: 160px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  font-family: monospace;
  margin-top: 50px;
  color: rgb(240, 237, 237);
  transition: opacity 0.3s ease; /* Übergangsdauer 0.5s */
}

#ShipSunkDialog form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#shipSunkHeader {
  padding-top: 10px;
  text-align: center;
}
#confirmBtnShip {
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid white;
}

#confirmBtnShip:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* Dialog Winner */

#WinnersDialog {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 380px;
  background-color: rgb(33, 32, 32, 0.89);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
  font-family: monospace;
  box-sizing: border-box;
  margin-top: 50px;
  color: rgb(240, 237, 237);
  transition: opacity 0.3s ease; /* Übergangsdauer 0.5s */
  outline: none;
}

#headerWinnersDialog {
  padding-top: 35px;
  font-size: 30px;
  text-align: center;
}
#confirmBtnWin {
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 135px;
}

#winnerIcon {
  justify-self: center;
}

#confirmBtnWin:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
